<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027354410661-c5kcu3ie4gge7p6vimko5qjgie5poaai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027354410661-c5kcu3ie4gge7p6vimko5qjgie5poaai</string>
	<key>API_KEY</key>
	<string>AIzaSyAgAD28j1G4Bi8iy5k_GIRHr04q3KKDoq4</string>
	<key>GCM_SENDER_ID</key>
	<string>1027354410661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daostack.common.dev</string>
	<key>PROJECT_ID</key>
	<string>common-dev-dea4e</string>
	<key>STORAGE_BUCKET</key>
	<string>common-dev-dea4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027354410661:ios:c64991c472d42aa55b974c</string>
</dict>
</plist>