<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854172758045-cgj72k292a2gm2iovv166j13l8el67ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854172758045-cgj72k292a2gm2iovv166j13l8el67ni</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Qa_JxphGBIQCRsczk7raNwQ5bzH1S-g</string>
	<key>GCM_SENDER_ID</key>
	<string>854172758045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daostack.common</string>
	<key>PROJECT_ID</key>
	<string>common-daostack</string>
	<key>STORAGE_BUCKET</key>
	<string>common-daostack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854172758045:ios:12e29501991280e11e96f4</string>
	<key>DATABASE_URL</key>
	<string>https://common-daostack.firebaseio.com</string>
</dict>
</plist>